@*@model COMP1640.Models.Document*@
@{
    Layout = "_LayoutCreateAccount";
}
<form asp-action="AddFile" asp-controller="Document" method="post" enctype="multipart/form-data">

    <div class="row mt-2">
        <div class="col-12">
            <label class="col-form-label">Select Multiple Files</label>
            <input type="file" id="uploadedFiles" name="uploadedFiles" class="form-control" multiple />
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-12">
            <button type="submit" class="btn btn-success">Upload Files</button>
        </div>
    </div>
</form>

