@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    IEnumerable<IdentityRole> Roles = ViewData["Roles"] as IEnumerable<IdentityRole>;
    Layout = "_LayoutCreateAccount";
}

<div class="center">
    <a class="btn-back-register" href="javascript:history.back()"><img src="~/fb-icons/bx-arrow-back.svg" /></a>
    <h3>Create New account</h3>
    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <select class="form-select" asp-for="Input.Role" required>
                <option selected disabled>Choose the account role</option>
                @foreach (var role in Roles)
                {
                    <option value=@role.Name>@role.Name</option>
                }
            </select>
            <span class="text-danger" asp-validation-for="Input.Role"></span>
        </div>

        <div class="txt_field">
            <input asp-for="Input.Email" type="text" required />
            <span asp-validation-for="Input.Email"></span>
            <label asp-for="Input.Email">Email</label>

        </div>
        <div class="txt_field">
            <input asp-for="Input.Password" type="password" required />
            <span asp-validation-for="Input.Password"></span>
            <label asp-for="Input.Password">Password</label>

        </div>

        <div class="txt_field">
            <input asp-for="Input.ConfirmPassword" type="password" required />
            <span asp-validation-for="Input.ConfirmPassword"></span>
            <label asp-for="Input.ConfirmPassword">Re-password</label>

        </div>

        <input type="submit" value="Next ->" asp-controller="Admin" asp-action="InformationStaff" />
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
