
.col-lg-12 {
    display: flex;
    height: 100%;
}

.col-lg-4 {
    background-color: white;
    top: 0.15em;
    border-radius: 1em;
    left: 6.5em;
    border: 0.1em solid gainsboro;
    box-sizing: border-box;
    position: inherit;
    z-index: 1;
}

.sub_container.col-lg-6 {
    top: -1em;
    left: 7em;
    position: inherit;
    z-index: 2;
}
.col-sm-6.multi-gd-img li, a {
    list-style: none;
}

.col-sm-6 .nav_bar--item a{
    font-weight: 600;
}
.dropdown-menu {
    width: 100%;
}
.information_idea {
    width: 100%;
}

.title p {
    font-size: 1.4em;
    font-weight: 600;
    margin-top: 0.2em;
    color: #515151;
}
.content_post {
    height: 100%;
    overflow: inherit;
    -webkit-line-clamp: none;
    text-overflow: unset;
    display: block;
    margin-left: 1.4em;
}
.profile h4 {
    transform: translate(4.2em, -3em);
}

.users-thumb-list {
    float: left;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    display: flex;
}

    .users-thumb-list > a img {
        border: 2px solid #fff;
        border-radius: 50%;
        width: 100%;
        height: 6em;
        display: inline-block;
    }

.description_account {
    width: 100%;
    height: 100%;
    top: 2em;
    margin-top: -2em;
    display: flex;
}

    .description_account p {
        font-size: 1.5em;
        text-align: center;
    }

.friend {
    text-align: center;
}

    .friend button {
        font-family: PlusJakartaSans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Cantarell,Helvetica Neue,Ubuntu,sans-serif;
        font-size: 1rem;
        align-items: center;
        height: 48px;
        border-radius: 0.4rem;
        font-weight: 600;
        padding: 0 1.2rem;
        color: #ddd;
        border: none;
        box-shadow: 0 .5rem 1rem rgba(143, 142, 142, 0.15) !important;
        background: green;
    }

.followers {
    font-size: 0.8rem;
    color: #7f7f7f;
}

.friend button:hover {
    background: #2b2a2a;
}

.tab-content span {
    font-size: 3em;
    color: black;
}

.tab-content .title {
    font-size: 2.0em;
    display: inline-block;
    width: 100%;
    color: #c95693;
    text-align: center;
    /*    transition: revert;*/
    transform: translate(-0.4em, 1em);
    margin-bottom: 1em;
}

.friend button {
    --green: #aee2b3;
    font-size: 15px;
    padding: 0.7em 4.7em;
    letter-spacing: 0.06em;
    position: relative;
    font-family: inherit;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1em;
    border: 2px solid var(--green);
    background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%,transparent 60%, rgba(27, 253, 156, 0.1) 100%);
    color: var(--green);
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
}

    .friend button:hover {
        color: #82ffc9;
        box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2);
    }

    .friend button:before {
        content: "";
        position: absolute;
        left: -4em;
        width: 4em;
        height: 100%;
        top: 0;
        transition: transform .4s ease-in-out;
        background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%,rgba(27, 253, 156, 0.1) 60%, transparent 100%);
    }

    .friend button:hover:before {
        transform: translateX(15em);
    }

.commented {
    display: grid;
}

.appear_idea {
    display: grid;
    transform: translate(-36.5em, 7em);
    width: 30em;
    padding-top: 4em;
}

.ap_idea_avata {
    display: inline-block;
    margin-top: -4em;
}

.info_comment {
    display: inline-block;
    transform: translate(6em, -6em);
    width: 100%;
}

.comment1_idea {
    border-radius: 7px;
    background: #e8f3e0;
    width: 94%;
}

    .comment1_idea span {
        word-wrap: break-word;
        white-space: break-spaces;
        font-size: 0.9em;
        text-align: -webkit-left;
    }


.dropdown_comment {
    padding-top: 4em;
}

.drop_down {
    padding-right: 4em;
}

.switch {
    top: 0.5em;
}

/*Mobile: width<780px*/
@media only screen and (max-width: 46.25em) {
    .profile.col-lg-4 {
        display: none;
    }

    textarea.form-control {
        width: 200px;
    }

    .switch {
        width: 3em;
        transform: translate(11em, -2.95em);
    }

    .form-group button {
        display: none;
    }

    .dropdown_comment {
        margin-left: -2em;
    }

    .col-lg-12 {
        margin-left: -9em;
        margin-right: 5em;
    }

    .detail_idea {
        margin-right: -4em;
    }

    .appear_idea {
        transform: translate(-18.8em, 7em);
        width: 17em;
    }
       .content_post{
        width: 80%;
    }
    .drop_down img {
        margin-left: -5em;
        margin-top: -3em;
    }
}
/*Tablet: width>=740px and width < 1024px*/
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .col-lg-12 {
        width: 100%;
        margin-left: -7em;
    }

    .profile.col-lg-4 {
        display: none;
    }
}
