.profile {
    display: block;
    justify-content: center;
    width: 100%;
    padding-left: 4em;
    padding-right: 4em;
    margin-top: 9em;
}

.col-lg-12 {
    width: 82%;
}

.file_idea img {
    text-align: center;
    margin-left: 2em;
}
.infor_account {
    padding-top: 3em;
}


.header_pro {
    height: 30.25em;
    width: 100%;
    display: inherit;
    justify-content: center;
    margin-top: -10em;
}

.cover_img {
    width: 100%;
    height: 30em;
    transform: translateY(-3em);
}

.avata_profile {
    display: flex;
    transform: translate(6em, -16.3em);
}

    .avata_profile img {
        width: 13em;
        height: 13em;
        border-radius: 50%;
    }

.drop_down {
    transform: translate(-1em, -4em);
}

.users-thumb-list {
    float: left;
    text-align: center;
    width: 100%;
    display: flex;
}

    .users-thumb-list > a img {
        border: 2px solid #fff;
        border-radius: 50%;
        width: 3em;
        height: 3em;
        display: inline-block;
    }

/*.section {
    transform: translate(-4em, -23.3em);
}*/

.widget {
    display: block;
    background-color: var(--text-color);
    height: auto;
    width: auto;
    border-radius: 7px;
}

.idea {
    display: block;
    background-color: var(--text-color);
    height: auto;
    width: auto;
    border-radius: 7px;
    position: static;
}

.Shortcuts {
    width: auto;
}

.widget h4 {
    font-size: 1.8em;
}

.wall {
    font-size: 1.2em;
    text-align: center;
    margin: 0.5em 0.5em;
}

.info {
    margin-left: 15em;
    margin-top: -10em;
}

.name_profile h4 {
    color: white;
    font-weight: 600;
    font-size: 2em;
    text-decoration: none;
}

aside img {
    width: 23em;
    height: 23em;
}

.title {
    font-size: 1.4em;
    display: inline-block;
    width: auto;
    color: white;
    text-align: center;
}

.appear_idea {
    display: flex;
    transform: translate(-33.7em, 7em);
}

.ap_idea_avata {
    display: inline-block;
}

.info_comment {
    display: inline-block;
    transform: translate(2em, -0.7em);
}

.content_post {
    width: 100%;
}

.pagination {
    margin-top: 2em;
    padding-top: 0.1em;
}

.row.merged20 {
    margin: -2em 3em 0em 6em;
}

.sidebar.static {
    margin-left: -8em;
}

/*Mobile: width<780px*/
@media only screen and (max-width: 46.25em) {
    .profile {
        width: 100%;
        padding-left: 0em;
        padding-right: 0em;
    }

    .cover_img {
        height: 13em;
    }

    .avata_profile {
        transform: translate(1em, -9em);
    }
        .avata_profile img {
            width: 5em;
            height: 5em;
            border-radius: 50%;
        }

    .name_profile {
        font-size: 0.7em;
    }
    .infor_account {
        padding-top: 2em;
    }


    .users-thumb-list {
        display: none;
    }

    .title {
        display: none;
    }

    .row.merged20 {
        margin: -19em -2em 0em -2em;
    }

}
/*Tablet: width>=740px and width < 1024px*/
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .profile {
        padding-left: 0em;
        padding-right: 0em;
    }

    .cover_img {
        height: 19em;
    }

    .avata_profile {
        transform: translate(3em, -14.3em);
    }
        .avata_profile img {
            width: 9em;
            height: 9em;
            border-radius: 50%;
        }

    .name_profile h4 {
        font-size: 1.8em;
    }
    .row.merged20 {
        margin: -13em 0em 0em 0em;
    }
    .infor_account {
        padding-top: 0em;
    }

}
