
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --text-color: #374957;
}

body {
    font-family: "Proxima Nova","Verdana","Avenir Next";
    background: linear-gradient(#e4ebf1, #e4ebf1);
    height: 100%;
    width: 100%;
}

.title_idea {
    display: flex;
    padding-top: 2em;
}


.content {
    position: fixed;
}

.qa {
    padding-left: 3em;
    padding-right: 3em;
}

thead {
    background-color: #e1ebf4;
}

.table {
    table-layout: fixed;
    font-size: 0.9em;
}

    .table th {
        width: 5.5em;
    }

    .table td {
        word-wrap: break-word;
    }

.category_table {
    padding-top: 4em;
    color: var(--text-color);
    padding-bottom: 10em;
}

.table thead th, .table td {
    color: var(--text-color);
}

    .table td:hover {
        background-color: #e7eaf0;
    }

.nav {
    padding-top: 7em;
}

    .nav li, .nav a, .nav i {
        color: #1c262d;
    }

    .nav.iterm li {
        display: block;
        font-size: 16.3px;
        font-weight: 360;
        letter-spacing: 0.7px;
        text-decoration: none;
        padding-top: 1.3em;
    }

    .nav.iterm a {
        padding-left: 1.5em;
        text-decoration: none;
    }

.header_app {
    display: flex;
    justify-content: space-between;
    padding-top: 1.5em;
    color: var(--text-color);
    margin-bottom: 2em;
}

.title {
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 0.3px;
    color: var(--text-color);
}

.account_info {
    display: flex;
    justify-content: space-between;
}

.avata_account img {
    width: 5em;
    border-radius: 10px;
}

.icon_email {
    padding-top: 0.3em;
    font-size: 1.7em;
    padding-left: 15em;
}

.name_account {
    width: 8em;
}

    .name_account h1 {
        font-size: 1.0em;
        font-weight: 400;
        padding-right: 0.6em;
    }

    .name_account span {
        color: lightslategray;
        font-size: 0.9em;
    }

.logo {
    padding-top: 2em;
}

    .logo img {
        width: 200px;
        height: 180px;
    }

.col-10 {
    background: white;
    border-radius: 2em;
}

.logout {
    padding-top: 6em;
    padding-left: 1.3em;
    padding-bottom: 2em;
}

    .logout button {
        cursor: pointer;
        font-weight: 700;
        font-family: Helvetica,"sans-serif";
        transition: all .2s;
        padding: 10px 20px;
        border-radius: 100px;
        background: linear-gradient(#d4e5f4, #d7f7e7);
        border: 1px solid transparent;
        display: flex;
        align-items: center;
        font-size: 15px;
        height: 3em;
    }

        .logout button:hover {
            background: #d7f7e7;
        }

        .logout button > svg {
            width: 34px;
            margin-left: 10px;
            transition: transform .3s ease-in-out;
        }

        .logout button:hover svg {
            transform: translateX(5px);
        }

        .logout button:active {
            transform: scale(0.95);
        }
/*Search*/
.form {
    /*--input-bg: #e2dee0;*/
    --input-bg: linear-gradient(#d4e5f4, #d7f7e7);
    /*  background of input */
    --padding: 1.5em;
    --rotate: 80deg;
    /*  rotation degree of input*/
    --gap: 2em;
    /*  gap of items in input */
    --icon-change-color: #15A986;
    /*  when rotating changed icon color */
    --height: 40px;
    /*  height */
    width: 300px;
    padding-inline-end: 1em;
    /*  change this for padding in the end of input */
    background: var(--input-bg);
    position: relative;
    border-radius: 13px;
    top: 1em;
}

    .form label {
        display: flex;
        align-items: center;
        width: 100%;
        height: var(--height);
    }

    .form input {
        width: 100%;
        padding-inline-start: calc(var(--padding) + var(--gap));
        outline: none;
        background: none;
        border: 0;
    }
    /* style for both icons -- search,close */
    .form svg {
        color: #111;
        transition: 0.3s cubic-bezier(.4,0,.2,1);
        position: absolute;
        height: 15px;
    }

.nav_bar--item--separate::after {
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #e3e5e8;
    margin-top: -0.7em;
    margin-left: 2em;
}

/* search icon */
.icon {
    position: absolute;
    left: var(--padding);
    transition: 0.3s cubic-bezier(.4,0,.2,1);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* arrow-icon*/
.swap-off {
    transform: rotate(-80deg);
    opacity: 0;
    visibility: hidden;
}

/*Add reset*/
.reset_cate {
    margin-top: -2em;
    margin-left: 19em;
}

.cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
}

    .cta:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        border-radius: 50px;
        background: #b1dae7;
        width: 45px;
        height: 42px;
        transition: all 0.3s ease;
    }

    .cta span {
        position: relative;
        /* font-family: "Ubuntu", sans-serif;*/
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.05em;
        color: #234567;
    }

    .cta svg {
        position: relative;
        top: 0;
        margin-left: 10px;
        fill: none;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke: #234567;
        stroke-width: 2;
        transform: translateX(-5px);
        transition: all 0.3s ease;
    }

    .cta:hover:before {
        width: 100%;
        background: #b1dae7;
    }

    .cta:hover svg {
        transform: translateX(0);
    }

    .cta:active {
        transform: scale(0.95);
    }

.nav_bar--item--separate::after {
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #e3e5e8;
    margin-top: -0.7em;
    margin-left: 10em;
}

/* search icon */
.icon {
    position: absolute;
    left: var(--padding);
    transition: 0.3s cubic-bezier(.4,0,.2,1);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* arrow-icon*/
.swap-off {
    transform: rotate(-80deg);
    opacity: 0;
    visibility: hidden;
}
/* close button */
.close-btn {
    /* removing default bg of button */
    background: none;
    border: none;
    right: calc(var(--padding) - var(--gap));
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #111;
    padding: 0.1em;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: 0.3s;
    opacity: 0;
    transform: scale(0);
    visibility: hidden;
}

.form input:focus ~ .icon {
    transform: rotate(var(--rotate)) scale(1.3);
}

    .form input:focus ~ .icon .swap-off {
        opacity: 1;
        transform: rotate(-80deg);
        visibility: visible;
        color: var(--icon-change-color);
    }

    .form input:focus ~ .icon .swap-on {
        opacity: 0;
        visibility: visible;
    }

.form input:valid ~ .icon {
    transform: scale(1.3) rotate(var(--rotate))
}

    .form input:valid ~ .icon .swap-off {
        opacity: 1;
        visibility: visible;
        color: var(--icon-change-color);
    }

    .form input:valid ~ .icon .swap-on {
        opacity: 0;
        visibility: visible;
    }

.form input:valid ~ .close-btn {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: 0s;
}

.name_account p {
    width: 7em;
    color: lightslategray;
    font-size: 0.9em;
}

/*Department*/
.deparment {
    display: flex;
}
/*Show time*/
.dash {
    width: 10em;
    height: 2px;
    background-color: #e3e5e8;
    margin-top: 0.7em;
    margin-right: 0.8em;
}

.date {
    display: flex;
    justify-content: space-between;
    padding-top: 3em;
}

    .date span {
        color: gray;
        padding-right: 1em;
    }

    .date p {
        font-weight: 500;
        color: var(--text-color);
    }


/*Add*/
.cssbuttons-io-button {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    padding: 0.4em 1.4em 0.7em 1.0em;
    color: white;
    background: #ad5389;
    background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%);
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
    letter-spacing: 0.05em;
    border-radius: 20em;
    transform: translate(57.8em, 3em);
}

    .cssbuttons-io-button svg {
        margin-right: 6px;
    }

    .cssbuttons-io-button:hover {
        box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
    }

    .cssbuttons-io-button:active {
        box-shadow: 0 0.3em 1em -0.5em #14a73e98;
    }
/*Edit*/
.edit {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    background-image: linear-gradient(to top, #30cfd0 0%, #98b8d6 100%);
    border: solid 3px transparent;
    background-clip: padding-box;
    box-shadow: 0px 0px 0px 3px #ffffff00;
    color: white;
    min-height: 33px;
    padding: 0 13px 0 13px;
    border-radius: 50px;
    letter-spacing: 2px;
    transition: all .5s ease;
    font-size: 14px;
    font-weight: 400;
}

    .edit:active {
        transform: scale(.9);
        transition: all 100ms ease;
    }

    .edit:hover {
        box-shadow: 0px 0px 0px 3px #30a1b8;
    }

    .edit svg {
        width: 10px;
    }
/*
    Delete*/
.delete {
    width: 112px;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: red;
    border: none;
    border-radius: 50px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: #e62222;
    font-weight: 400;
}

    .delete span {
        transition: 200ms;
    }

    .delete .text {
        color: white;
        padding-left: 1em;
        letter-spacing: 2px;
        font-size: 14px;
    }

    .delete .icon {
        position: absolute;
        border-left: 1px solid #c41b1b;
        transform: translateX(76px);
        height: 30px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .delete svg {
        width: 15px;
        fill: #eee;
    }

    .delete:hover {
        background: #ff3636;
    }

        .delete:hover .text {
            color: transparent;
        }

        .delete:hover .icon {
            width: 150px;
            border-left: none;
            transform: translateX(0);
        }

    .delete:focus {
        outline: none;
    }

    .delete:active .icon svg {
        transform: scale(0.8);
    }

/*Dashdoard css*/
.header_db {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6em;
}

.dashboard {
    margin-top: 3em;
}

    .dashboard h3 {
        text-align: center;
        font-family: inherit;
        color: gray;
        padding-bottom: 1em;
        font-size: 1.7em;
    }

.card_db {
    width: 20%;
    background: linear-gradient(#d4e5f4, #d7f7e7);
    border-radius: 0.5em;
}

.numOf_idea,
.numOf_contributors,
.react_idea,
.numOf_comment {
    display: flex;
}

.dashboard h5 {
    color: dimgray;
    font-size: 1em;
}

.inf_percent {
    margin-top: -1em;
    margin-bottom: 1em;
}

.percent {
    text-align: center;
    background-color: white;
    border-radius: 0.6em;
    height: 2em;
    margin-left: 1em;
    border: 1px dotted #b1154a;
    margin-top: 2em;
    width: 30%;
}

    .percent i {
        padding-left: 0.3em;
        padding-right: 0.5em;
        color: #7e906f;
    }

.col-4 {
    height: 50%;
    margin-top: 1.5em;
}

    .col-4 span {
        font-size: 1.7em;
    }

.text-muted {
    padding-left: 1em;
}

.col-8 {
    height: 5em;
    margin-top: 1em;
}

    .col-8 span {
        font-size: 1.9em;
        font-weight: 600;
        color: var(--text-color);
    }

.dashboard_contribute {
    display: flex;
    justify-content: space-evenly;
}

.text_center {
    display: flex;
}
/*table contributor*/
.contributor {
    padding-top: 2em;
}

.dashboard img {
    border-radius: 10px;
}
/*Idea*/
.idea {
    padding-top: 3em;
}

.btn_dropdown {
    background: linear-gradient(#d4e5f4, #d7f7e7);
    border: 0.1em dashed white;
    margin-bottom: -1em;
    font-size: 1.4em;
    color: var(--text-color);
    transform: translateY(1.6em);
}
/*Comment*/
.comment_table {
    padding-top: 4em;
}
/*Modal*/
.modal-content {
    background: linear-gradient(#d4e5f4, #d7f7e7);
    margin-top: -8em;
}

.paginations a {
    text-decoration: none;
    outline: none;
    display: block;
    padding: 20px 0;
    width: 40px;
    text-align: center;
    color: white;
    float: left;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.prev {
    width: 50%;
    transform: translate(0em, -0.8em);
}

.next {
    width: 50%;
    transform: translate(0em, -0.8em);
}

.paginations {
    background: #FCFCFC;
    color: #4D4644;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 0 20px rgba(0,0,0,.2);
    transition: .3s linear;
    display: flex;
    list-style: none;
    width: 12em;
    height: 2.4em;
    border-radius: 3em;
    float: right;
    margin-top: 2em;
    margin-bottom: 1em;
}

.text {
    display: inline-block;
    letter-spacing: 0.1em;
    padding: 20px 10px;
    cursor: pointer;
    font-size: 1.1em;
}

.paginations:hover {
    background: linear-gradient(#d4e5f4, #d7f7e7);
    opacity: 1;
}

.prev:before {
    content: "\f104";
    font-family: FontAwesome;
}

.next:before {
    content: "\f105";
    font-family: FontAwesome;
}

/*button download Doc*/
.download-button {
    position: relative;
    border-width: 0;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border-radius: 4px;
    z-index: 1;
}

    .download-button .docs {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        min-height: 40px;
        padding: 0 10px;
        border-radius: 4px;
        z-index: 1;
        background-color: var(--text-color);
        border: solid 1px #e8e8e82d;
        transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
    }

    .download-button:hover {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

.download {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    margin: 0 auto;
    z-index: -1;
    border-radius: 4px;
    transform: translateY(0%);
    background-color: #01e056;
    border: solid 1px #01e0572d;
    transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
}

.download-button:hover .download {
    transform: translateY(100%)
}

.download svg polyline, .download svg line {
    animation: docs 1s infinite;
}

@keyframes docs {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(-15%);
    }

    100% {
        transform: translateY(0%);
    }
}

.download_doc {
    padding-right: 0.5em;
    float: right;
    padding-bottom: 1em;
}

.download_csv {
    float: right;
    padding-bottom: 1em;
}

.colom1 {
    display: flex;
}


.chartMenu {
    width: 100vw;
    height: 40px;
    background: #1A1A1A;
}

.chartCard {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: left;
}

.chartBox {
    width: 570px;
    padding: 20px;
    border-radius: 20px;
    border: solid 3px white;
    background: linear-gradient(#e2ebf4, #e7f5ee);
}

.chart_contributors {
    width: 55%;
    margin-left: 22%;
}

.chartBox .chart_contributors {
    background-color: none;
}

.chartBox h5 {
    padding-bottom: 1.2em;
    font-size: 1.3em;
    text-align: center;
}


/*Bar*/
.icon_bar {
    display: none;
}

input[type = "checkbox"] {
    -webkit-appearance: none;
    display: none;
    visibility: hidden;
}

.bar {
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 40px;
    top: 20%;
}

    .bar span {
        position: absolute;
        width: 30px;
        height: 4px;
        background: black;
        border-radius: 100px;
        display: inline-block;
        transition: 0.3s ease;
        left: 0;
    }

        .bar span.top {
            top: 11px;
        }

        .bar span.middle {
            top: 19px;
        }

        .bar span.bottom {
            bottom: 9px;
        }

input[type]:checked ~ span.top {
    transform: rotate(45deg);
    transform-origin: top left;
    width: 33px;
    left: 1.7px;
}

input[type]:checked ~ span.bottom {
    transform: rotate(-49deg);
    transform-origin: top left;
    width: 33px;
    bottom: -0.2px;
}

input[type]:checked ~ span.middle {
    transform: translateX(-20px);
    opacity: 0;
}

/*icon hide password*/
.field-icon::before {
    cursor: pointer
}


.overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    animation: fadeIn linear 0.2s;
    z-index: 1000;
}

.idea_mobile {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    max-width: 300px;
    transform: translateX(-100%);
    background: #fcfcfc;
    float: right;
    opacity: 0;
    transition: transform linear 0.2s, opacity linear 0.3s;
    border-radius: 10px;
    letter-spacing: 0.2px;
}


.all_idea_mobile {
    margin-top: 4em;
}

.shortcuts_mobile {
    display: inline-block;
    list-style: outside none none;
    font-size: 1.1em;
    text-transform: capitalize;
    display: inline-block;
    position: relative;
    color: black;
    line-height: 70px;
    margin-top: 1.5em;
    margin-left: 1em;
}

    .shortcuts_mobile a {
        color: black;
        padding-left: 1.5em;
    }

    .shortcuts_mobile li {
        margin-top: 0em;
    }

    .shortcuts_mobile a:hover {
        text-decoration: none;
    }
.logout_moblie button {
    background: none;
    border: none;
    color: black;
    line-height: 65px;
    padding-left: 1.2em;
}
/**/
.idea_mobile h1 {
    color: #525f7f;
    display: inline-block;
    font-size: 2em;
    font-weight: 600;
    padding: 20px 20px 0px;
    position: relative;
    width: 100%;
    padding-bottom: 1em;
}

.avatar_mobile {
    text-align: center;
}

    .avatar_mobile span {
        color: black;
        font-size: 1.1em;
    }

        .avatar_mobile a:hover {
            text-decoration: none;
        }

    .avatar_mobile img {
        width: 7em;
        border-radius: 10px;
        box-shadow: 9px 11px 10px #e0e6ec;
    }

/*hien thi overlay var idea_mobile*/
.input_check:checked ~ .overlay {
    display: block;
}


.input_check:checked ~ .idea_mobile {
    transform: translateX(0%);
    opacity: 1;
}

.nav_bar--item--separate2::after {
    content: "";
    display: block;
    margin-left: 0.9em;
    height: 0.3px;
    transform: translateY(21px);
    background-color: #e3e5e8;
    width: 95%;
}

/*Mobile & tablet: width<1024px*/
@media only screen and (max-width: 63.9375em) {
    .search {
        display: none;
    }

    .idea_mobile {
        display: block;
    }

    .header_app {
        margin-left: -6em;
    }

    .nav_bar--item--separate::after {
        display: none;
    }
}

/*Mobile: width<320px*/
@media only screen and (width: 20em) {
    .col-10 {
        margin-left: 16%;
        margin-top: 2em;
    }
}

/*Mobile: width<780px*/
@media only screen and (max-width: 46.25em) {

    .col-10 {
        margin-left: 4.3em;
        margin-top: 2em;
    }

    .table {
        font-size: 0.9em;
    }

        .table th {
            display: none;
        }

    table {
        margin-bottom: 2em;
    }

    .text_center {
        display: none;
    }

    .logo {
        display: none;
    }

    .nav.iterm {
        display: none;
    }

    .logout {
        display: none;
    }

    .qa {
        padding-left: 0em;
        padding-right: 0em;
    }

    .burger {
        display: none;
    }

    .icon_bar {
        display: block;
    }

    .icon_email {
        display: none;
    }

    .app_qam {
        margin-left: -3.5em;
        margin-right: 0.4em;
    }

    .account_info {
        display: none;
    }
}


/*Mobile: width 600px*/
@media only screen and (width: 37.5em) {
    .col-10 {
        margin-left: -1.2em;
        margin-top: 2em;
    }
}

/*Tablet: width>=740px and width < 1024px*/
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .logo img {
        width: 7em;
        height: 6.3em;
        margin-top: 5em;
        margin-left: -0.5em;
    }

    .nav.iterm i {
        display: none;
    }

    .nav.iterm li {
        font-size: 0.7em;
        margin-left: -4em;
        font-weight: 300;
    }

    .logout {
        margin-left: -2em;
    }

        .logout button {
            font-size: 12px;
        }

    .table {
        font-size: 1em;
    }

    .header_app {
        margin-left: -9em;
    }

    .title {
        font-size: 1.8em;
    }

    .delete .icon {
        display: block;
    }

    .table {
        font-size: 0.7em;
    }

    .header_app {
        font-size: 0.8em;
    }

    .body_dashboard {
        margin-left: -2em;
        margin-right: -2em;
    }

    .delete .icon {
        display: none;
    }

    .delete {
        width: 6.5em;
    }

        .delete .text {
            font-size: 1.2em;
        }

    .edit {
        font-size: 1.1em;
    }
}
/*laptop*/
@media only screen and (min-width: 73em) and (max-width: 81.25em) {
    .logo img {
        margin-top: -1em;
        width: 176px;
        height: 180px;
    }

    .nav.iterm {
        margin-left: -1em;
        margin-top: -4em;
    }

        .nav.iterm li {
            font-size: 14.3px;
        }

    table {
        font-size: 0.7em;
    }
}
