/*Mobile: width<780px*/
@media only screen and (max-width: 46.25em) {
}

/*Tablet: width>=740px and width < 1024px*/
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .header_db {
        width: 102%;
        font-size: 0.6em;
    }

    .colom1 {
        display: block;
        margin-left: 3.5em;
    }
    .chartBox h5 {
        font-size: 1.1em;
    }
    .chartBox {
        width: 446px;
    }
    .chart_contributor {
        margin-left: 7em;
    }
        .chart_contributor h5 {
            font-size: 1.1em;
        }
    .chartCard {
        padding-bottom: 2em;
    }

}
