
* {
    margin: 0;
    padding: 0;
    font-family: Open Sans;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    background: linear-gradient(#e8f2e3, #e8f2e3);
    /* background: violet;*/
    /*background: linear-gradient(#E8FFFF, #e8f2e3);*/
}


:root {
    --text-color: #fdfdfd;
}

.header {
    height: 60px;
    background-color: var(--text-color);
    width: 100%;
    position: fixed;
    display: flex;
    z-index: 5;
    justify-content: space-between;
    box-shadow: 2px 3px 5px #e3e5e8;
}

    .header .logo {
        display: inline-block;
    }

.logo img {
    width: 170px;
    height: 65px;
    padding-left: 37px;
    margin-top: -9px;
}

#nav_bar {
    display: inline-block;
    transform: translateX(-20%);
    padding-top: 9px;
}

.header_search {
    display: inline-block;
    transform: translateX(-20%);
    margin-top: 14px;
}

    .header_search form label {
        transform: translate(9px, -30px);
        color: #808080;
        font-size: 13px;
    }

    .header_search button {
        height: 32px;
    }

.nav_icon {
    display: inline-block;
    padding-right: 50px;
}

    .nav_icon li {
        padding-top: 15px;
        display: inline-block;
        font-size: 16px;
        padding-left: 20px;
    }

.nav_bar--item--separate::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 15px;
    background-color: black;
    right: -9px;
    top: 70%;
    transform: translateY(-50%);
}

.nav_bar--item--separate2::after {
    content: "";
    display: block;
    position: absolute;
    width: 570px;
    left: 17px;
    height: 0.3px;
    background-color: black;
    transform: translateY(21px);
    background-color: #e3e5e8;
}

.nav_bar--item--separate3::after {
    content: "";
    display: block;
    position: absolute;
    width: 570px;
    left: -12px;
    height: 0.3px;
    background-color: #e3e5e8;
    top: 34px;
}
.nav_bar--item--separate4::after {
    content: "";
    display: block;
    position: absolute;
    width: 20em;
    height: 0.3px;
    background-color: #e3e5e8;
    top: 2.9em;
}


.sub_nav li {
    display: inline-block;
    font-size: 19px;
    padding-left: 16px;
    font-weight: bold;
    letter-spacing: 0.7px;
    text-decoration: none;
}

.nav_icon li {
    display: inline-block;
}

.app {
    width: 100%;
    height: 100%;
}

.container-fluid {
    padding-top: 20px;
    height: 100%;
    /*  position:fixed;*/
    transform: translate(0px, 65px);

}

.sidebar.static {
    transform: translateX(210px);
}

.sub_container.col-lg-6 {
    margin-left: 30px;
    transform: translateX(110px);
}

.sub_container2.col-lg-3 {
    transform: translate(70em, -52.8em);
    position: relative;
    z-index: -1;
}

.icon_account {
    position: relative;
}

ul:hover {
    color: greenyellow;
}

ul a:active {
    position: relative;
    color: #FF6347;
}

input[type="search" i] {
    width: 300px;
    height: 14px;
    padding-left: 300px;
}

.ul_icon_idea .fa-regular fa-file {
    display: inline-block;
    margin: 0px 1px;
}

.new-post {
    background-color: var(--text-color);
    width: 600px;
    height: 130px;
    text-align: center;
    border-radius: 7px;
    display: flex;
    padding-right: 20px;
    box-shadow: 2px 3px 10px #e3e5e8;
}

    .new-post a {
        display: inline-block;
        justify-content: space-around;
    }

input[type="text" i] {
    width: 420px;
    height: 60px;
    font-size: 14px;
    transform: translateX(2%);
    border-radius: 5px;
    border: 1px solid #808080;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.input_idea p {
    margin-top: -50px;
    color: gray;
    margin-left: -720px;
}

.avata_post img {
    display: inline-block;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    transform: translate(20%, 55%);
}

.form_add_idea {
    display: inline-block;
    transform: translate(20px, 40px);
}

.new-post button {
    background-color: green;
    display: inline-block;
    width: 65px;
    height: 38px;
    border-radius: 5px;
    color: white;
    transform: translate(260px, -38px);
}

.attachments {
    display: flex;
    margin-left: 260px;
}

    .attachments ul {
        display: inline-block;
        padding-top: 10px;
        font-size: 20px;
    }

    .attachments li {
        padding-left: 50px;
    }

/*input[placeholder="write something" i] {
    padding: 8px;
}
*/
.information_idea {
    background-color: var(--text-color);
    width: 600px;
    height: 100%;
    border-radius: 7px;
    display: flex;
    transform: translateY(20px);
    box-shadow: 2px 3px 10px #e3e5e8;
}

.avata_information_idea {
    width: 10px;
    height: -10px;
    margin-left: 10px;
    padding-top: 10px;
    font-size: 10px;
}

.image_idea {
    text-align: center;
    padding-left: 70px;
    margin-top: 40px;
}

.information_idea .name_account {
    margin-left: 0px;
    margin-top: -53px;
}

.drop_down {
    display: inline-block;
    margin-left: 530px;
    transform: translateY(-50px);
    display: flex;
    position: relative;
    z-index: 1;
    width: 2em;
}

.dropdown-menu {
    width: 4em;
}

.drop_down li {
    font-size: 17px;
    transform: translateX(-2em);
    font-weight: bold;
    /*  letter-spacing: 0.7px;*/
    /*     text-decoration: none;*/
    list-style: none;
    display: inline-block;
    /*      position: fixed;
        z-index: 1;*/
}


.felling ul {
    list-style: none;
}

.felling_idea li {
    display: inline-block;
    padding-right: 30px;
    font-size: 1.3em;
}

.felling {
    display: flex;
    transform: translateY(23px);
    margin-left: 30px;
}

.comment_idea {
    display: flex;
    margin-left: 20px;
    margin-top: 20px;
}

.com_idea_avata {
    display: inline-block;
}

.form-group {
    display: inline-block;
    padding-left: 0.5em;
    padding-top: 0.8em;
}

    .form-group button {
        transform: translate(25em, -2.4em);
    }

.widget {
    display: block;
    background-color: var(--text-color);
    height: 320px;
    width: 280px;
    border-radius: 7px;
}

.idea {
    display: block;
    background-color: var(--text-color);
    height: 270px;
    width: 280px;
    border-radius: 7px;
    position: static;
}

.name_account h4 {
    color: #424242;
    font-weight: 600;
    transform: translate(70px, 2px);
    font-size: 20px;
    text-decoration: none;
}

.widget h4:hover {
    color: green;
}

.sidebar.static li {
    font-size: 16px;
    font-weight: 400;
}

.widget h4 {
    color: #424242;
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    padding: 20px 20px 0px;
    position: relative;
    width: 100%;
}

.idea h4 {
    color: #424242;
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    padding: 20px 20px 0px;
    position: relative;
    width: 100%;
    font-family: 'Harlow Solid';
}

.Shortcuts {
    display: inline-block;
    list-style: outside none none;
    width: 230px;
    font-size: 16px;
    text-transform: capitalize;
    display: inline-block;
    position: relative;
    font-weight: 400;
    color: #797979;
    letter-spacing: 1.0px;
    line-height: 60px;
}

/*aside img {
    width: 300px;
    height: 300px;
    margin-left: 30px;
}
*/

aside img {
    width: 300px;
    height: 300px;
}


.image_idea {
    text-align: center;
    padding-left: 70px;
    margin-top: 1em;
}

.switch {
    --circle-dim: 1.4em;
    font-size: 14px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
    transform: translate(28em, -2.95em);
}

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #9ed99c;
    transition: .4s;
    border-radius: 30px;
}

.slider-card {
    position: absolute;
    content: "";
    height: var(--circle-dim);
    width: var(--circle-dim);
    border-radius: 20px;
    left: 0.3em;
    bottom: 0.3em;
    transition: .4s;
    pointer-events: none;
}

.slider-card-face {
    position: absolute;
    inset: 0;
    backface-visibility: hidden;
    perspective: 1000px;
    border-radius: 50%;
    transition: .4s transform;
}

.slider-card-front {
    background-color: #379237;
}

.slider-card-back {
    /* background-color: #379237;*/
    background-color: #DC3535;
    transform: rotateY(180deg);
}

input:checked ~ .slider-card .slider-card-back {
    transform: rotateY(0);
}

input:checked ~ .slider-card .slider-card-front {
    transform: rotateY(-180deg);
}

input:checked ~ .slider-card {
    transform: translateX(1.5em);
}

input:checked ~ .slider {
    background-color: #f5aeae;
}

.account img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
    transform: translate(1.3em, -2em);
}
