@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
    Layout = "_LayoutInformationStaff";
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" disabled value="@User.Identity.Name" />
            </div>
            <div class="form-group">
                <label asp-for="Input.PhoneNumber"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>

<section class="container">
    <a class="btn-back-register" href="javascript:history.back()"><img src="~/fb-icons/bx-arrow-back.svg" /></a>

    <header>Registration</header>
    <form class="form" asp-controller="Staff" asp-action="EditTag" method="post">
        @* !!! Avatar tinh sau !!! *@
        @*<div class="">
        <label>Avatar file: </label>
        <input type="file" required />
        </div>*@

        <div class="input-box">
            <label>Full Name</label>
            <input type="text" placeholder="Enter your full name" required />
        </div>

        @* !!! Doan nay khong can thiet !!! *@
        @*<div class="input-box">
        <label>User Name</label>
        <input type="text" placeholder="Enter your user name" required />
        </div>*@

        <div class="column">
            <div class="input-box">
                <label>Phone Number</label>
                <input type="number" placeholder="Enter your phone number" required />
            </div>
            <div class="input-box">
                <label>Birthday</label>
                <input type="date" placeholder="Enter your birthday" required />
            </div>
        </div>
        <div class="gender-box">
            <h3>Gender</h3>
            <div class="gender-option">
                <div class="gender">
                    <input type="radio" name="gender" checked />
                    <label for="check-male">Male</label>
                </div>
                <div class="gender">
                    <input type="radio" name="gender" />
                    <label for="check-female">Female</label>
                </div>
            </div>
        </div>
        <div class="input-box address">
            <label>Address</label>
            <input type="text" placeholder="Enter your address" required />
        </div>
        <button>Save</button>
    </form>
</section>

<script>
    console.clear();

    const loginBtn = document.getElementById('login');
    const signupBtn = document.getElementById('signup');

    loginBtn.addEventListener('click', (e) => {
        let parent = e.target.parentNode.parentNode;
        Array.from(e.target.parentNode.parentNode.classList).find((element) => {
            if (element !== "slide-up") {
                parent.classList.add('slide-up')
            } else {
                signupBtn.parentNode.classList.add('slide-up')
                parent.classList.remove('slide-up')
            }
        });
    });

    signupBtn.addEventListener('click', (e) => {
        let parent = e.target.parentNode;
        Array.from(e.target.parentNode.classList).find((element) => {
            if (element !== "slide-up") {
                parent.classList.add('slide-up')
            } else {
                loginBtn.parentNode.parentNode.classList.add('slide-up')
                parent.classList.remove('slide-up')
            }
        });
    });
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}