@model COMP1640.Models.Category

@if (User.Identity.IsAuthenticated && User.IsInRole("Quality Assurance Manager"))
{
    <form asp-controller="QAManager" asp-action="AddTag" method="post">
        <h1 class="display-6">Add New Tag</h1>
        <div class="form-group">
            <input hidden class="form-control" asp-for="@Model.CategoryId">
            @*<span class="text-danger" asp-validation-for="@Model.TagId"></span>*@
        </div>

        <div class="form-group">
            <label class="font-weight-bold">Title</label>
            <input class="form-control" asp-for="@Model.category_name">
            @*<span class="text-danger" asp-validation-for="@Model.BookTitle"></span>*@
        </div>
        <button type="submit" class="btn btn-dark"><i class="fa-solid fa-check"></i> Add</button>
    </form>
}