@{
    Layout = "_QAM";
}
@{
    ViewData["Title"] = "Dashboard";
}
@if (User.Identity.IsAuthenticated && User.IsInRole("Quality Assurance Manager"))
{
    <div class="dashboard">
        <div class="header_db">
            <div class="numOf_idea">
                <div class="col-4">
                    <span>70%</span>
                </div>
                <div class="col-8">
                    <h5>Total Idea</h5>
                    <span>1000</span>
                </div>
            </div>
            <div class="numOf_contributors">
                <div class="col-4">
                    <span>98%</span>
                </div>
                <div class="col-8">
                    <h5>Total Contributor</h5>
                    <span>100</span>
                </div>
            </div>
            <div class="react_idea">
                <div class="col-4">
                    <span>100%</span>
                </div>
                <div class="col-8">
                    <h5>React Idea</h5>
                    <span>1000</span>
                </div>
            </div>
            <div class="numOf_comment">
                <div class="col-4">
                    <span>100%</span>
                </div>
                <div class="col-8">
                    <h5>Comment</h5>
                    <span>1000</span>
                </div>
            </div>
        </div>
        <div class="body_db">
            <div class="dashboard_contribute">
                <div class="colom1">
                    <div class="contribute2 col-5">
                        <img src="https://wiseenglish.edu.vn/wp-content/uploads/2022/03/line-graph-7.jpg" width="500" height="300" />
                    </div>
                    <div class="contribute2 col-5">
                        <img src="https://www.ieltsvietop.vn/wp-content/uploads/2021/04/WRITINGTASK1-170421-06-scaled.jpg" width="500" height="300" />
                    </div>
                </div>
                <div class="colom1">
                    <div class="contribute2 col-5">
                        <img src="https://talkfirst.vn/wp-content/uploads/2021/08/cach-viet-ielts-writing-task-1-bar-chart.png" width="500" height="300" />
                    </div>
                    <div class="contribute2 col-5">
                        <img src="https://www.researchgate.net/publication/350751228/figure/fig1/AS:1010543175430146@1617943676392/Represent-the-pie-chart-for-Nationality.ppm" width="500" height="300" />
                    </div>
                </div>
            </div>

            <div class="contributor">
                <h4>Contributor table</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Profile ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">DoB</th>
                            <th scope="col">Gender</th>
                            <th scope="col">Address</th>
                            <th scope="col">DepID</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>P1</td>
                            <td>Minh Luu thi</td>
                            <td>28/06/2002</td>
                            <td>Female</td>
                            <td>Hung Yen</td>
                            <td>1</td>
                        </tr>

                        <tr>
                            <th scope="row">2</th>
                            <td>P1</td>
                            <td>Minh Luu thi</td>
                            <td>28/06/2002</td>
                            <td>Female</td>
                            <td>Hung Yen</td>
                            <td>1</td>
                        </tr>

                        <tr>
                            <th scope="row">3</th>
                            <td>P1</td>
                            <td>Minh Luu thi</td>
                            <td>28/06/2002</td>
                            <td>Female</td>
                            <td>Hung Yen</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>P1</td>
                            <td>Minh Luu thi</td>
                            <td>28/06/2002</td>
                            <td>Female</td>
                            <td>Hung Yen</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>P1</td>
                            <td>Minh Luu thi</td>
                            <td>28/06/2002</td>
                            <td>Female</td>
                            <td>Hung Yen</td>
                            <td>1</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}