@model COMP1640.Models.Category
@{
    Layout = "_QAM";
    ViewData["Title"] = "Edit Tag";
}
@if (User.Identity.IsAuthenticated && User.IsInRole("Quality Assurance Manager"))
{
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Tag</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-controller="QAManager" asp-action="EditTag" method="post">
                    <h1 class="display-6">Edit this Tag</h1>
                    <div class="form-group">
                        <input hidden class="form-control" asp-for="@Model.CategoryId">
                    </div>

                    <div class="form-group">
                        <label class="font-weight-bold">Title</label>
                        <input class="form-control" asp-for="@Model.category_name">
                    </div>
                    <a asp-controller="QAManager" asp-action="CategoryManager"><button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button></a>
                    <button type="submit" class="btn btn-success">Update</button>
                </form>

            </div>
        </div>
    </div>
}