@model List<Tag>
<div>
    <h1>
        This is index of QAManger.
    </h1>
    <h2>
        Now, Duong is coding add and delete tag method.
    </h2>
    <div class="col-xs-7">
        <a class="btn btn-primary" asp-controller="QAManager" asp-action="AddTag"><i class="fa-solid fa-plus"></i> <span>Add</span></a>
    </div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">&nbsp;</th>
                <th scope="col">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tag in Model)
            {
                <tr>
                    <td>@tag.TagId</td>
                    <td>@tag.tag_name</td>
                    <td>
                        <a type="button" class="" asp-controller="QAManager" asp-action="EditTag" asp-route-id="@tag.TagId"><i class="fa-solid fa-wrench" style="color:darkgray"></i></a>
                    </td>
                    <td>
                        <a type="button" class="" asp-controller="QAManager" asp-action="DeleteTag" asp-route-id="@tag.TagId"><i class="fa-solid fa-trash" style="color:red"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
