<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta character="utl-f8">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <title>Add idea</title>
</head>

<body>
</body>

<div class="container" style="height:590px">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>
</html>
