<!doctype html>
<html lang="en" dir="ltr">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="~/css/InformationStaff.css" />

    <title>Information for Staff</title>
</head>

<body>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
            @RenderSection("scripts", required: false)
        </main>
    </div>
</body>
</html>
