<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta character="utl-f8">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <title>Sign up</title>
</head>

<body>
    <div>
        <a type="button" class="btn btn-danger" asp-controller="Admin" asp-action="dashboard">Back</a>
    </div>
</body>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
 </html>