@{
    Layout = "_LayoutAdmin";
}

<hr />
<div style="text-align:center">
    <a>Here is dashboard :))</a>

     <img src="https://media-api.advertisingvietnam.com/oapi/v1/media?uuid=2d67dc7c-5ff5-466d-beb9-9167e8121934&resolution=1440x756&type=image" width="100%" height="100%" alt="" />
</div>
