@model List<Comment>
@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Latest Comment";
    <link rel="stylesheet" href="~/css/res_admin_db.css" />
}

@if (User.Identity.IsAuthenticated && User.IsInRole("Administrator"))
{
    @*Main content*@
    <div class="h-screen flex-grow-1 overflow-y-lg-auto">
        <!-- Main -->
        <main class="py-6 bg-surface-secondary">
            <div class="container-fluid">
                <div class="card mb-7">
                    <div class="card-header">
                        <h5 class="mb-0">Lastest comments</h5>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-hover table-nowrap">
                            <thead class="table-light">
                                <tr>
                                    <th scope="col">No.</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Idea title</th>
                                    <th scope="col">Content</th>
                                    <th scope="col">Anonymous</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var c in ViewBag.Comments)
                                {
                                    <tr>
                                        <td>@c.ComId</td>
                                        <td>@c.Profile.Name</td>
                                        <td>@c.Idea.idea_title</td>
                                        <td>@c.com_content</td>
                                        @if (c.com_anonymous == true)
                                        {
                                            <td>Yes</td>
                                        }
                                        else
                                        {
                                            <td>No</td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </div>
}

