@{
    Layout = "_LayoutManageClosureDate";
    var count = 1;
}

@*Main content*@
<div class="h-screen flex-grow-1 overflow-y-lg-auto">
    <!-- Header -->
    <header class="bg-surface-primary border-bottom pt-6">
        <div class="container-fluid">
            <div class="mb-npx">
                <div class="row align-items-center">
                    <div class="col-sm-6 col-12 mb-4 mb-sm-0">
                        <!-- Title -->
                        <h1 class="h2 mb-0 ls-tight">Application</h1>
                    </div>
                    <!-- Actions -->
                    <div class="col-sm-6 col-12 text-sm-end">
                        <div class="mx-n1">
                            @*<a href="#" class="btn d-inline-flex btn-sm btn-success mx-1" style="background-color:lawngreen">
                            <span class=" pe-2">
                            <i class="fa fa-pencil-square-o"></i>
                            </span>
                            <span>Edit</span>
                            </a>*@
                            <a class="btn d-inline-flex btn-sm btn-primary mx-1" asp-area="Identity" asp-page="/Account/Register">
                                <span class=" pe-2">
                                    <i class="fa fa-plus-circle"></i>
                                </span>
                                <span>Create</span>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Nav -->
                <ul class="nav nav-tabs mt-4 overflow-x border-0">
                    <li class="nav-item ">
                        <a asp-controller="Admin" asp-action="dashboard" class="nav-link active">All Content</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <!-- Main -->
    <main class="py-6 bg-surface-secondary">
        <div class="container-fluid">
            <div class="card mb-7">
                <div class="card-header">
                    <h5 class="mb-0">Setting event</h5>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover table-nowrap">
                        <thead class="table-light">
                            <tr>
                                <th scope="col">No.</th>
                                <th scope="col">Event Name</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var e in ViewBag.Events)
                            {
                                <tr>
                                    <td>@count</td>
                                    <td>@e.EventName</td>
                                    <td class="text-end">
                                        <a asp-controller="Admin" asp-action="SetClosureDate" class="btn btn-sm btn-set">Set</a>
                                        <a asp-controller="Admin" asp-action="EditClosureDate" asp-route-id="@e.EventId" class="btn btn-sm btn-edit">Edit</a>
                                        <a asp-controller="Admin" asp-action="DeleteClosureDate" asp-route-id="@e.EventId" class="btn btn-sm btn-edit">Delete</a>
                                    </td>
                                </tr>
                                count = count + 1;
                            }
                        </tbody>
                    </table>
                </div>
                @*<div class="card-footer border-0 py-5">
                <span class="text-muted text-sm">Showing 8 post idea out of 100 results found</span>
                </div>*@
            </div>
        </div>
    </main>
</div>