@model List<Profile>

@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "All content";
    <link rel="stylesheet" href="~/css/res_admin_account.css" />
    var count = 1;
}

@if (User.Identity.IsAuthenticated && User.IsInRole("Administrator"))
{
    @*Main content*@
    <div class="h-screen flex-grow-1 overflow-y-lg-auto">
        <!-- Main -->
        <main class="py-6 bg-surface-secondary">
            <div class="container-fluid">
                <div class="card mb-7">
                    <div class="card-header">
                        <h5 class="mb-0">Manage account staff</h5>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover table-nowrap">
                            <thead class="table-light">
                                <tr>
                                    <th scope="col">No.</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var acc in Model)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>@acc.Email</td>
                                        <td>@acc.Name</td>
                                        <td class="text-end">
                                            <a class="btn btn-sm btn-set" asp-controller="Admin" asp-action="EditAccount" asp-route-id="@acc.Id">Edit</a>
                                        </td>
                                    </tr>
                                    count = count + 1;
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer border-0 py-5">
                        <span class="text-muted text-sm">Showing 4 account out of 100 results found</span>
                    </div>
                </div>
            </div>
        </main>
    </div>
}