<section>
    <div class="section_container">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row merged20" id="page-contents">
                        <div class="navbar-expand-xl">
                            <div class="col-lg-3">
                                <aside class="sidebar static">
                                    <div class="widget">
                                        <h4 class="widget-title"><b> Shortcuts</b></h4>
                                        <ul class="Shortcuts">
                                            <li class="nav_bar--item" style="color: #797979;">New Feed</li>
                                            <li class="nav_bar--item"> <a href="~/"></a>Profile</li>
                                            <li class="nav_bar--item"> <a href="~/"></a>My page</li>
                                            <li class="nav_bar--item"> <a href="~/"></a>Logout</li>
                                            <li> <a href="~/"></a></li>
                                        </ul>
                                    </div>
                                    <br>
                                    <div class="idea">
                                        <h4 class="widget-title"><b>Most Popular Ideas</b></h4>
                                        <ul class="Shortcuts">
                                            <li class="nav_bar--item"> <a href="~/"></a>Most Viewed Ideas</li>
                                            <li class="nav_bar--item"> <a href="~/"></a> Latest Ideas </li>
                                            <li class="nav_bar--item"> <a href="~/"></a> Latest Comments</li>
                                        </ul>
                                    </div>
                                </aside>
                            </div>
                            <div class="new_idea">
                                <div class="post">
                                    <div class="col-lg-6">
                                        <div class="central-meta new-post">
                                            <div class="avata_post">
                                                <figure>
                                                    <img src="https://tphcmtop10.com/wp-content/uploads/2022/11/hinh-avatar-cute-1.jpg"
                                                         alt="" />
                                                </figure>
                                            </div>

                                            <form method="Post">
                                                <div class="input_idea">
                                                    <input class="text" type="text" rows="2" placeholder="write something" />
                                                </div>
                                                <div class="attachments">
                                                    <ul class="ul_icon_idea">
                                                        <li class="icon"><a style="color: #373b3f; text-decoration: none" asp-action="" asp-controller=""><i class="fa-regular fa-file"></i></a></li>
                                                        <li class="icon"><a style="color: #373b3f; text-decoration: none" asp-action="" asp-controller=""><i class="fa-regular fa-image"></i></a></li>
                                                        <li class="icon"><a style="color: #373b3f; text-decoration: none" asp-action="" asp-controller=""><i class="fa-solid fa-camera"></i></a></li>
                                                    </ul>
                                                    <ul class="ul_icon_btn"><li class="nav_bar--item "><button type="button" class="btn btn-outline-success">Post</button></li></ul>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="central-meta new-post">
                                        <div class="information_idea">
                                            <div class="detail_idea">
                                                <div class="avata_information_idea">
                                                    <figure>
                                                        <a asp-action="index" asp-controller="HTML">
                                                            <img style="width: 60px; height: 60px; border-radius: 50%; display: inline-block" src="https://tphcmtop10.com/wp-content/uploads/2022/11/hinh-avatar-cute-1.jpg"
                                                                 alt="avata" />
                                                            <div class="name_account">
                                                                <h4 style="font-size: 14px; font-weight:800; letter-spacing: 1.1px; padding-top: -600px; width: 230px">Minh Lưu Thị</h4>
                                                            </div>
                                                        </a>
                                                    </figure>

                                                </div>
                                                <div class="content">
                                                    <div class="img_idea">
                                                        @*    <h1 class="Title">@ViewBag.Title</h1>*@
                                                        <h1 style="text-align: left;margin-top: -40px; padding: 10px; font-size: 14px" class="Title">Spring is wonderful</h1>
                                                        <h1 class="Tag">@ViewBag.Tag</h1>
                                                        <div class="image_idea">
                                                            <img style="width: 450px; height: 251px; display: block" src="http://cdn.reatimes.vn/mediav2/media_old/upload/3GgKYQB7Ou7S2zd4qk3WXA/files/2020/M%C3%B9a%20%C4%91%C3%A1%20%C4%91%C6%A1m%20b%C3%B4ng/%E1%BA%A2nh%20ti%C3%AAu%20%C4%91%E1%BB%81.JPG"
                                                                 title="Image_idea" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="felling">
                                                    <ul class="felling_idea">
                                                        <li><i style="color:green" class="fa-solid fa-heart"></i></li>
                                                        <li><i style="color:green" class="fa-regular fa-heart"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="comment_idea">
                                                <div class="com_idea_avata">
                                                    <figure class="avata_comment">
                                                        <img style="width: 60px; height: 60px; border-radius: 50%; display: inline-block" src="https://tphcmtop10.com/wp-content/uploads/2022/11/hinh-avatar-cute-1.jpg"
                                                             alt="avata" />
                                                    </figure>
                                                </div>
                                                <div class="form_comment">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <aside class="QC">
                            <div class="QC_aside">
                                <div class="col-lg-3">
                                    <img src="https://target.scene7.com/is/image/Target/GUEST_607f5128-b2f4-4645-886f-1401c82a742b?wid=488&hei=488&fmt=pjpeg" title="QC" />
                                </div>
                                <br>
                                <div class="col-lg-3">
                                    <img src="https://thumbs.dreamstime.com/b/smiling-young-man-blank-white-t-shirt-design-education-school-advertising-people-concept-over-green-board-44074794.jpg"
                                         title="QC" />
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>