@{
    Layout = "_Login";
}

<div class="login-page">
 
 @*   <h2>Wellcome you </h2>
    <div class="icon"><a style="color: #373b3f; text-decoration: none" asp-action="" asp-controller=""><i class="fa-regular fa-face-grin-tongue"></i></a></div>*@

    <div class="form">
        <div class="logo">
            <a asp-action="Index" asp-controller="Home">
                <img style="display: inline-block;" src="/images/logo.jpg"
                     width="100px" />
            </a>
        </div>
        <form class="register-form" asp-action="Index" asp-controller="Home">
            <input type="text" placeholder="name" />
            <input type="password" placeholder="password" />
            <input type="text" placeholder="email address" />
            <button>create</button>
            <p class="message">Already registered? <a href="#">Sign In</a></p>
        </form>
        <form class="login-form" asp-action="" asp-controller="">
            <input type="text" placeholder="username" />
            <input type="password" placeholder="password" />
            <button>login</button>
            <p class="message"><a>forgot your password?</a></p>
        </form>
    </div>
</div>
