<style>
    .profile {
        padding: 0em;
        margin: 0em;
        display: block;
        justify-content: center;
        width: 100%;
    }

    .header_pro {
        height: 30.25em;
        width: 100%;
        display: inherit;
        justify-content: center;
    }

    .cover_img {
        width: 100%;
        height: 30em;
        transform: translateY(-3em);
    }

    .avata_profile {
        transform: translate(6em, -16.3em);
    }

        .avata_profile img {
            width: 13em;
            height: 13em;
            border-radius: 50%;
        }

    .users-thumb-list {
        float: left;
        text-align: center;
        width: 100%;
        transform: translate(13em, -10em);
        display: flex;
    }

        .users-thumb-list > a img {
            border: 2px solid #fff;
            border-radius: 50%;
            width: 3em;
            height: 3em;
            display: inline-block;
        }
    .section {
        transform: translate(-4em, -23.3em);
    }

    .widget {
        display: block;
        background-color: var(--text-color);
        height: auto;
        width: 25em;
        border-radius: 7px;
    }

    .idea {
        display: block;
        background-color: var(--text-color);
        height: auto;
        width: 25em;
        border-radius: 7px;
        position: static;
    }

    .sub_container.col-lg-3 {
        transform: translateX(-7.75em);
    }

    .Shortcuts {
        width: auto;
    }

    .widget h4 {
        font-size: 1.8em;
    }

    .wall {
        font-size: 1.2em;
        text-align: center;
        margin: 0.5em 0.5em; 
    }
    .name_profile{
        transform: translate(14em, -10.4em);
    }

    .name_profile h4 {
            color: white;
            font-weight: 600;
            /* transform: translate(7em, -4em); */
            font-size: 2em;
            text-decoration: none;
            
        }

    aside img{
        width: 23em;
        height: 23em;
    }

    .title {
        font-size: 1.4em;
        display: inline-block;
        width: auto;
        color: white;
        text-align: center;
        /* transition: revert; */
        transform: translate(10em, -7.5em);
        /* margin-bottom: 1em; */
    }

    .appear_idea{
        display: flex;
        transform: translate(-33.7em, 7em);
        width: 30em;
    }
    .ap_idea_avata{
        display: inline-block;
    }

    .info_comment{
        display: inline-block;
        transform: translate(2em, -0.7em);
    }
    .content_post{
         width: 30.3em;
    }
    </style>
<div class="profile">
    <div class="header_pro">
        <img class="cover_img" src="/images/anhbia.jpg" alt="cover image">
        <div class="avata_profile">
            <figure>
                <img src="/images/avatar.jpg"
                     alt="avata" />
            </figure>
            <div class="name_profile">
                <h4>Minh Lưu Thị</h4>
            </div>
            <a class="title" href="" title="weekly-likes">Friend..</a>
            <div class="users-thumb-list">
                <a href="#" title="Anderw" data-toggle="tooltip">
                    <img src="/images/ffm1.jpeg" alt="friend1">
                </a>
                <a href="#" title="frank" data-toggle="tooltip">
                    <img src="/images/ffm2.jpeg" alt="friend2">
                </a>
                <a href="#" title="Sara" data-toggle="tooltip">
                    <img src="/images/fm1.jpeg" alt="friend3">
                </a>
                <a href="#" title="Amy" data-toggle="tooltip">
                    <img src="/images/ffm3.jpeg" alt="friend4">
                </a>
                <a href="#" title="Ema" data-toggle="tooltip">
                    <img src="/images/fm2.jpeg" alt="friend5">
                </a>
                <a href="#" title="Sophie" data-toggle="tooltip">
                    <img src="/images/fm3.jpeg" alt="friend6">
                </a>
                <a href="#" title="Maria" data-toggle="tooltip">
                    <img src="/images/fl1.jpg" alt="friend7">
                </a>
            </div>
        </div>
       
       @* <button class="btn_pro">
            Add Friend
        </button>*@
    </div>
    <div class="section">
        <div class="col-lg-12">
            <div class="row merged20" id="page-contents">
                <div class="sub_container col-lg-3">
                    <div class="sidebar static">
                        <div class="widget">
                            <h4 class="widget-title"><b> Information</b></h4>
                            <div class="wall">
                                <span>Wellcome to my wall &nbsp<i style="color: #d391b2" class="fa-regular fa-face-smile-wink"></i></span>
                            </div>
                            <ul class="Shortcuts">
                                <li class="nav_bar--item "><i class="fa-solid fa-street-view"></i>Works at: Greenwich Viet Nam</li>
                                <li class="nav_bar--item "><i class="fa-solid fa-transgender"></i>Gender: Nữ</li>
                                <li class="nav_bar--item "><i class="fa-solid fa-phone-volume"></i>Phone: 0398677630</li>
                                <li class="nav_bar--item "><i class="fa-solid fa-envelope-open-text"></i>Email: minh123@gmail.com</li>
                            </ul>
                        </div>
                        <br>
                        <div class="idea">
                            <h4 class="widget-title"><b>Most Popular Ideas</b></h4>
                            <ul class="Shortcuts">
                                <li class="nav_bar--item "><i class="fa-solid fa-street-view"></i><a asp-action="Index" asp-controller="Home">Most Viewed Ideas</a></li>
                                <li class="nav_bar--item "><i class="fa-solid fa-face-laugh-wink"></i><a asp-action="Index" asp-controller="Home">Most Emotion ideas</a></li>
                                <li class="nav_bar--item "><i class="fa-regular fa-lightbulb"></i><a asp-action="" asp-controller="">Latest Ideas</a></li>
                                <li class="nav_bar--item "><i class="fa-regular fa-comments"></i><a asp-action="PostIdea" asp-controller="Home">Latest Comments</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                @*        <div class="new_idea">
                <div class="post">*@
                <div class="sub_container col-lg-6">
                    <div class="new-post">
                        <div class="avata_post">
                            <figure>
                                <a asp-action="Profile" asp-controller="Home">
                                    <img src="/images/avatar.jpg"
                                         alt="avata" />
                                </a>
                            </figure>
                        </div>
                        <div class="form_add_idea">
                            <a style="text-decoration: none" asp-action="AddIdea" asp-controller="Home">
                                <div class="input_idea">
                                    <input class="text" type="text" rows="2" />
                                    <p style="transform: translate(20%, 30%); color: gray">write a new idea...</p>
                                </div>
                                <button type="button" class="btn btn-outline-success">Add</button>
                            </a>
                        </div>
                    </div>
                    @* <div class="central-meta new-idea">*@
                    <div class="information_idea">
                        <div class="Infor_idea">
                            <div class="detail_idea nav_bar--item--separate2">
                                <div class="avata_information_idea">
                                    <figure>
                                        <a style="text-decoration: none" asp-action="Profile" asp-controller="Home">
                                            <img style="width: 60px; height: 60px; border-radius: 50%; display: inline-block" src="/images/avatar.jpg"
                                                 alt="avata" />
                                            <div class="name_account">
                                                <h4 style="font-size: 16px;padding-top: -600px; width: 230px">Minh Lưu Thị</h4>
                                                <h5 style="font-size: 14px;padding-top: -600px; width: 230px; color: black; margin-left: 70px">3:48 AM</h5>
                                            </div>
                                        </a>
                                    </figure>
                                </div>
                                @* <div>
                                <img src="~/fb-icons/more.svg" alt="gallery">
                                </div>*@
                                <div class="drop_down">
                                    <a style="color: #373b3f; border-radius: 50%;" href="#" role="button" data-toggle="dropdown"
                                       aria-haspopup="true" aria-expanded="false">
                                        <img src="~/fb-icons/more.svg" alt="gallery">
                                    </a>
                                    <div class="dropdown-menu">
                                        <div class="agile_inner_drop_nav_info p-4">
                                            <div class="row">
                                                <div class="col-sm-6 multi-gd-img">
                                                    <ul>
                                                        <li class="nav_bar--item "><a style="color: #797979; text-decoration: none" asp-action="EditIdea" asp-controller="Home">Edit</a></li>
                                                        <li class="nav_bar--item "><a style="color: #797979; text-decoration: none" asp-action="Delete" asp-controller="Home">Delete</a></li>
                                                        <li>
                                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                                Delete
                                                            </button>

                                                            <!-- Modal -->
                                                            <div class="modal fade" id="exampleModal" tabindex="6" aria-labelledby="exampleModalLabel" aria-hidden="true" style="position: relative; z-index: 10 !important;">
                                                                <div class="modal-dialog modal-dialog-centered">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            Are you sure?
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                                            <button type="button" class="btn btn-primary">Save changes</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="img_idea">
                                        <div class="title_idea">
                                            <div class="tag">
                                                <a asp-action="" asp-controller="">
                                                    <span>Tag</span>
                                                </a>
                                            </div>
                                            <h1 class="lead">Spring is wonderful</h1>
                                        </div>
                                        @* <h1 class="Tag">@ViewBag.Tag</h1>*@
                                        <div class="image_idea ">
                                            <a asp-action="Detail" asp-controller="Home">
                                                <img style="width: 550px; height: 400px; padding-left: -50px; transform: translateX(-44.3%)" src="/images/img_idea/idea_profile.jpg"
                                                     title="Image_idea" />
                                            </a>
                                        </div>
                                    </div>
                                    <h2 class="content_post">Most of us would have beautiful gardens in front of our houses. For many, gardening would be a favourite pastime.</h2>
                                </div>
                            </div>
                            <div class="felling  nav_bar--item--separate3">
                                <div class="more">
                                    <ul class="felling_idea">
                                        <li><a style="color:green" asp-action="" asp-controller=""><i class="fa-regular fa-eye"></i></a>32</li>
                                        <li><a style="color:green" asp-action="" asp-controller=""><i class="fa-solid fa-heart"></i></a>32</li>
                                        <li><a style="color:green" asp-action="" asp-controller=""><i class="fa-regular fa-heart"></i></a>32</li>
                                        <li><a style="color:green" asp-action="" asp-controller=""><i class="fa-regular fa-comment"></i></a>32</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="comment_idea">
                                <div class="com_idea_avata">
                                    <a asp-action="Profile" asp-controller="Home">
                                        <figure class="avata_comment">
                                            <img style="width: 60px; height: 60px; border-radius: 50%; display: inline-block" src="/images/avatar.jpg"
                                                 alt="avata" />
                                        </figure>
                                    </a>
                                </div>
                                <div class="comment" style=" position: static; z-index: 5;">
                                    <div class="form-group">
                                        <a style="text-decoration: none">
                                            <input style="width: 450px; height: 40px" class="form-control" rows="5" id="comment" placeholder="Post your comment..." />
                                        </a>
                                        <label class="switch" value="true">
                                            <input type="checkbox">
                                            <div class="slider"></div>
                                            <div class="slider-card">
                                                <div class="slider-card-face slider-card-front"></div>
                                                <div class="slider-card-face slider-card-back"></div>
                                            </div>
                                        </label>
                                        <a asp-action="" asp-controller="">
                                            <button type="button" class="btn btn-outline-success">Add</button>
                                        </a>
                                    </div>
                                </div>
                                <div class="appear_idea">
                                    <div class="ap_idea_avata">
                                        <figure class="account">
                                            <a asp-action="Profile" asp-controller="Home">
                                                <img src="/images/avatar.jpg"
                                                     alt="avata" />
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="info_comment">
                                        <span>It's so pretty'</span>
                                        @*@foreach($category as $cat)
                                        <li class="hassubs"><a href="#">{{$cat->cname}}<i
                                        class="fas fa-chevron-down"></i></a>
                                        </li>
                                        @endforeach
                                        </ul>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sub_container2 col-lg-3">
                    <aside class="QC">
                        <div class="QC_aside">
                            <div class="col-lg-3">
                                <img src="/images/img_idea/img_profile.jpg" title="img_perfect" />
                            </div>
                            <br>
                            <div class="col-lg-3">
                                <img src="/images/img_idea/img2_profile.jpg"
                                     title="my like" />
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>

        <div class="pagination" style=" border-radius: 3em">
            <div class="prev">
                <span class="text">Prev</span>
                <div class="left">
                    <a href="" class="prev"></a>
                </div>
            </div>

            <div class="next">
                <span class="text">Next</span>
                <div class="right">
                    <a href="" class="prev"></a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var myModal = document.getElementById('myModal')
    var myInput = document.getElementById('myInput')

    myModal.addEventListener('shown.bs.modal', function () {
        myInput.focus()
    })
</script>